.Header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.links-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-left: 10px;
  margin-top: 10px;
}
.links-left div {
  width: 100px;
}
.links-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-left: 10px;
  margin-top: 10px;
}
.user-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: #666;
  margin-right: 10px;
}